

/* CSS Hack until Issue # 2204733 (https://drupal.org/node/2204733) gets merged into a release */
body .condition-wrapper .form-item.form-item-commerce-discount-fields-inline-conditions-und-0-condition-settings-not-applicable-with label:first-child,
body .condition-wrapper .form-item.form-item-commerce-discount-fields-inline-conditions-und-1-condition-settings-not-applicable-with label:first-child,
body .condition-wrapper .form-item.form-item-commerce-discount-fields-inline-conditions-und-2-condition-settings-not-applicable-with label:first-child,
body .condition-wrapper .form-item.form-item-commerce-discount-fields-inline-conditions-und-3-condition-settings-not-applicable-with label:first-child,
body .condition-wrapper .form-item.form-item-commerce-discount-fields-inline-conditions-und-4-condition-settings-not-applicable-with label:first-child,
body .condition-wrapper .form-item.form-item-commerce-discount-fields-inline-conditions-und-5-condition-settings-not-applicable-with label:first-child,
body .condition-wrapper .form-item.form-item-commerce-discount-fields-inline-conditions-und-6-condition-settings-not-applicable-with label:first-child,
body .condition-wrapper .form-item.form-item-commerce-discount-fields-inline-conditions-und-7-condition-settings-not-applicable-with label:first-child,
body .condition-wrapper .form-item.form-item-commerce-discount-fields-inline-conditions-und-8-condition-settings-not-applicable-with label:first-child,
body .condition-wrapper .form-item.form-item-commerce-discount-fields-inline-conditions-und-9-condition-settings-not-applicable-with label:first-child{
    display:block;
    clear:both;
    width:inherit;
    margin-top:1em;
}

.no-combine .form-type-checkbox {
    clear:both;
    display:block;
}

.condition-wrapper .form-item .no-combine label.option {
    width:inherit;
    padding-top:.4em;
}